.post-down-content
{

    background-color: white;
    padding: 1rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    min-height: 14rem;
}


@media screen and (max-width: 860px) {
    .newcap{
        margin-left:0.1rem !important
    }
    
}